@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0%;
  padding: 0%;
}
.nav{
  display: flex;
  height: 91px;
  width: 550px;
  background-color: #21222A;
  justify-content: space-between;
  align-items: center;
  
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.logo-name{
  color: #00D8FF;
  font-family: 'Inter', sans-serif;
  margin-left: 7px;
  font-weight: bolder;
  
}
.description{
  color: #DEEBF8;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  margin-right: 20px;
}
.main-container{
  display: flex;
  height: 459px;
  width: 550px;
 background-color: #282D35;
}
.main-heading{
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  color: #FFFF;
  margin-left: 20px;
  margin-top: 40px;
}
.main-data{
  width: 80%;
}
.points{
  margin-left:25px;
  font-family: 'Inter', sans-serif;
  color: #FFFF;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  padding: 0;
}

.points li{
  margin-top: 15px;
  
  
}
.points li::marker {
  color: #61DAFB;
  font-size: 1.4em;
}
/* .points li::before {
  content: "• ";
  display: inline-block;
  width: 1.5em;
  color: #61DAFB; 
} */



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
